body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url("../images/background.jpg");
    background-size: cover;
}

.container {
  margin: auto;
  max-width: 85%;
  font-family: sans-serif;
}

.heading {
  color: yellow;
}

.nav-links {
  display: flex;
  list-style: none;
  padding-left: 0;
}

.nav-link-item {
  padding-right: 2rem;
}

.nav-link-text {
  color: white;
    font-size: large;
}

.site-title {
  font-size: 3rem;
  font-weight: 700;
  margin: 2.8rem 0;
    text-shadow: green 2px 2px;
    color: beige;
}